/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #081b29;
    color: white;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 200px 8% 20px; /* Top padding adjust kiya hai header ke liye */
    position: absolute;
    top: 0;
    width: 100%;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.logo span {
    color: #00abf0;
}

.navbar a {
    color: #fff;
    margin-left: 2rem;
    font-size: 16px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: #00abf0;
}

/* Skills Section */
.skills {
    min-height: 100vh;
    padding: 120px 10% 50px;
}

.heading {
    text-align: center;
    font-size: 45px;
    margin-bottom: 4rem;
}

.heading span {
    color: #00abf0;
}

.skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-column {
    flex: 1 1 400px;
}

.skills-column .title {
    font-size: 25px;
    margin: 0 0 1.5rem;
}

.skills-box {
    border: 2px solid #00abf0;
    border-radius: 10px;
    padding: 1.5rem;
    transition: .5s;
}

.skills-box:hover {
    box-shadow: 0 0 20px #00abf0;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.skills-content .progress .bar {
    height: 10px;
    border-radius: 5px;
    background: #051120;
    margin-top: 10px;
    position: relative;
}

.skills-content .progress .bar span {
    height: 100%;
    border-radius: 5px;
    background: #00abf0;
    display: block;
    box-shadow: 0 0 10px #00abf0;
}

/* Responsive */
@media (max-width: 768px) {
    .skills-row {
        flex-direction: column;
    }
}